.container {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 30px;
  padding-top: 40px;
  /* padding-bottom: 40px; */
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin #fName{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin #lName, .signUp{
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signin .login {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}
